body {
    height: 400px;
    width: 300px;
    background-color: #2f2452;
    color: white;
}

.wrapper {
    border-style: solid;
    border-color: white;
    border-width: 3px;
    min-height: 395px;
    max-height: 395px;
    text-align: center;
    overflow: hidden;
}

.title h1 {
    text-align: center;
}

.title h3 {
    text-align: center;
}

.action {
    text-align: center;
}

.action input {
    color: white;
    width: 250px;
    height: 50px;
    background-color: #443572;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    text-align: center;
}

::placeholder {
    color: #CABEBE;
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
  }
  
::-moz-placeholder {
    text-align: center;
}

.action button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    color:white;
    background-color: #443572;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.5s;
}

.action button:hover {
    background-color: white;
    color: #443572;
}

.content {
    width: 250px;
    margin: 0 auto;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    min-height: 170px;
    max-height: 170px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content p {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.content p:hover {
    color: hotpink;
}

.journey {
    margin-left: 7.5px;
    margin-top: 10px;
    width: 230px;
    min-height: 10px;
    text-align: center;
}